body {
  font-family: Arial, sans-serif;
  background-color: #FFF8DE;
  padding: 20px;
 
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

h2 {
  color: #34495e;
  margin-top: 25px;
}

p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

ul {
  list-style-type: square;
  padding: 0;
}

li {
  margin: 8px 0;
}



a {
  text-decoration: none;
  color: white;
  background-color: #64a2cb;
  padding: 8px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

a:hover {
  background-color: #2980b9;
  color: white;
}